##################################################
# Created from template gazebo.dockerfile.jinja
##################################################

###########################################
# Base image
###########################################
FROM ubuntu:{{ ubuntu_distro }} AS base

# Avoid warnings by switching to noninteractive
ENV DEBIAN_FRONTEND=noninteractive

{% include 'snippits/language.jinja' %}

{% include 'snippits/timezone.jinja' %}

# Install gazebo
RUN apt-get update && apt-get install -q -y \
    gnupg \
    lsb-release \
    wget \
    && sh -c 'echo "deb http://packages.osrfoundation.org/gazebo/ubuntu-stable `lsb_release -cs` main" > /etc/apt/sources.list.d/gazebo-stable.list' \
    && wget https://packages.osrfoundation.org/gazebo.key -O - | apt-key add - \
    && apt-get update && apt-get install -y \
    gazebo{{ gazebo_release }} \
  && rm -rf /var/lib/apt/lists/*

###########################################
# Develop image
###########################################
FROM base AS dev

ENV DEBIAN_FRONTEND=noninteractive
# Install dev tools
RUN apt-get update && apt-get install -y \
    libgazebo{{ gazebo_release }}-dev \
  && rm -rf /var/lib/apt/lists/*

{% include 'snippits/ros_user.jinja' %}
ENV DEBIAN_FRONTEND=

###########################################
#  Full+Gazebo+Nvidia image
###########################################

FROM gazebo AS nvidia

{% include 'snippits/nvidia.jinja' %}
