#############################################
# Created from template ros.dockerfile.jinja
#############################################

###########################################
# Base image 
###########################################
FROM ubuntu:{{ ubuntu_distro }} AS base

ENV DEBIAN_FRONTEND=noninteractive
ENV ROS_DISTRO={{ ros_distro }}

{% include 'snippits/language.jinja' %}

{% include 'snippits/timezone.jinja' %}

# Install ROS
COPY install_ros_base.sh /setup/install_ros_base.sh
RUN /setup/install_ros_base.sh && rm -rf /var/lib/apt/lists/*

# Setup environment
ENV LD_LIBRARY_PATH=/opt/ros/$ROS_DISTRO/lib:$LD_LIBRARY_PATH
ENV ROS_ROOT=/opt/ros/$ROS_DISTRO/share/ros
ENV ROS_PACKAGE_PATH=/opt/ros/$ROS_DISTRO/share
ENV ROS_MASTER_URI=http://localhost:11311
ENV ROS_PYTHON_VERSION={{ python_env }}
ENV ROS_VERSION=1
ENV PATH=/opt/ros/$ROS_DISTRO/bin:$PATH
ENV ROSLISP_PACKAGE_DIRECTORIES=
ENV PYTHONPATH=/opt/ros/${ROS_DISTRO}/lib/python{{ python_version }}/dist-packages:$PYTHONPATH
ENV PKG_CONFIG_PATH=/opt/ros/$ROS_DISTRO/lib/pkgconfig:$PKG_CONFIG_PATH
ENV ROS_ETC_DIR=/opt/ros/$ROS_DISTRO/etc/ros
ENV CMAKE_PREFIX_PATH=/opt/ros/$ROS_DISTRO:$CMAKE_PREFIX_PATH
ENV DEBIAN_FRONTEND=

###########################################
# Develop image 
###########################################
FROM base AS dev

ENV DEBIAN_FRONTEND=noninteractive
# Install dev tools
COPY install_ros_dev{{ python_env }}.sh /setup/install_ros_dev.sh
RUN /setup/install_ros_dev.sh && rm -rf /var/lib/apt/lists/*

{% include 'snippits/ros_user.jinja' %}
ENV DEBIAN_FRONTEND=

###########################################
# Full image 
###########################################
FROM dev AS full

ENV DEBIAN_FRONTEND=noninteractive
# Install the full release
RUN apt-get update && apt-get install -y \
  ros-${ROS_DISTRO}-desktop \
  && rm -rf /var/lib/apt/lists/*
ENV DEBIAN_FRONTEND=

###########################################
#  Full+Gazebo image 
###########################################
FROM full AS gazebo

ENV DEBIAN_FRONTEND=noninteractive
# Install gazebo
RUN apt-get update && apt-get install -y \
  ros-${ROS_DISTRO}-gazebo* \
  && rm -rf /var/lib/apt/lists/*
ENV DEBIAN_FRONTEND=