#############################################
# Created from template ros.dockerfile.jinja
#############################################

###########################################
# Base image
###########################################
FROM {{ base_image }} AS base

ENV DEBIAN_FRONTEND=noninteractive

{% include 'snippits/language.jinja' %}

{% include 'snippits/timezone.jinja' %}

# Install ROS
RUN apt-get update && apt-get install -y --no-install-recommends \
    curl \
    dirmngr \
    gnupg2 \
    lsb-release \
    sudo \
  && sh -c 'echo "deb http://packages.ros.org/ros/ubuntu $(lsb_release -sc) main" > /etc/apt/sources.list.d/ros-latest.list' \
  && curl -sSL 'http://keyserver.ubuntu.com/pks/lookup?op=get&search=0xC1CF6E31E6BADE8868B172B4F42ED6FBAB17C654' | apt-key add - \
  && apt-get update && apt-get install -y --no-install-recommends \
    ros-{{ distro }}-ros-base \
  && rm -rf /var/lib/apt/lists/*

# Setup environment
ENV DEBIAN_FRONTEND=

ENV ROS_DISTRO={{ distro }}

# setup entrypoint
COPY ./ros_entrypoint.sh /

ENTRYPOINT ["/ros_entrypoint.sh"]
CMD ["bash"]

###########################################
# Develop image
###########################################
FROM base AS dev

ENV DEBIAN_FRONTEND=noninteractive
# Install dev tools
RUN apt-get update && apt-get install -y --no-install-recommends \
    python-rosdep \
    python-rosinstall \
    python-rosinstall-generator \
    python-wstool \
    python-pip \
    python-pep8 \
    python-autopep8 \
    pylint \
    build-essential \
    bash-completion \
    git \
    vim \
  && rm -rf /var/lib/apt/lists/* \
  && rosdep init || echo "rosdep already initialized"

{% include 'snippits/ros_user.jinja' %}
ENV DEBIAN_FRONTEND=

###########################################
# Desktop image
###########################################
FROM dev AS desktop

ENV DEBIAN_FRONTEND=noninteractive
# Install the desktop release
RUN apt-get update && apt-get install -y --no-install-recommends \
  ros-{{ distro }}-desktop \
  && rm -rf /var/lib/apt/lists/*
ENV DEBIAN_FRONTEND=

###########################################
# Full image
###########################################
FROM desktop AS full

ENV DEBIAN_FRONTEND=noninteractive
# Install the desktop release
RUN apt-get update && apt-get install -y --no-install-recommends \
  ros-{{ distro }}-desktop-full \
  && rm -rf /var/lib/apt/lists/*
ENV DEBIAN_FRONTEND=

###########################################
#  Full+Gazebo image
###########################################
FROM full AS gazebo

ENV DEBIAN_FRONTEND=noninteractive
# Install gazebo
RUN apt-get update && apt-get install -y --no-install-recommends \
   ros-{{ distro }}-gazebo-ros-pkgs ros-{{ distro }}-gazebo-ros-control \
  && rm -rf /var/lib/apt/lists/*
ENV DEBIAN_FRONTEND=

###########################################
#  Full+Gazebo+Nvidia image
###########################################

FROM gazebo AS gazebo-nvidia

{% include 'snippits/nvidia.jinja' %}
