{% macro build_step(label, tag, target, platforms) -%}
      - name: Build and push {{ target }}
        uses: docker/build-push-action@v5
        with:
          push: {% raw %}${{ github.ref == 'refs/heads/main' }}{% endraw %}
          file: {{ label }}/{{ tag }}.Dockerfile
          target: {{ target }}
          platforms: {{ platforms }}
          tags: |
            althack/{{ label }}:{{ tag }}-{{ target }}
            althack/{{ label }}:{{ tag }}-{{ target }}-{% raw %}${{ steps.date.outputs.date }}{% endraw %}

{%- endmacro -%}
  {{ label }}-{{ tag }}:
    runs-on: ubuntu-latest
    steps:
    {% raw %}
      - name: Set current date
        id: date
        run: |
          echo "date=$(date +%Y-%m-%d)" >> "$GITHUB_OUTPUT"
      - name: Use current date
        run: |
          echo "Current date is ${{ steps.date.outputs.date }}"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          username: althack
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
    {% endraw %}
      {%- for step in steps %}
      {{ build_step(label, tag, step["target"], step["platforms"]) }}
      {%- endfor %}
