name: Update Readme
# Update the readme file for docker images when the description changes and is merged into main.
on:
  push:
    branches:
      - main
    paths:
      - '**.md'
      - .github/workflows/docker_readme.yml
  workflow_dispatch:

jobs:
  targets:
    runs-on: ubuntu-latest
    outputs:
      repos: ${{ steps.amd64.outputs.families }}

    steps:
      - uses: actions/checkout@v6

      - name: Generate list of amd64 targets (filtered)
        id: amd64
        uses: ./.github/actions/docker-targets

  readme:
    runs-on: ubuntu-latest
    name: Push README to Docker Hub
    needs: targets
    strategy:
      fail-fast: false
      matrix:
        repo: ${{ fromJSON(needs.targets.outputs.repos) }}

    steps:
      - name: git checkout
        uses: actions/checkout@v6
      - name: Update repo description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: althack
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: althack/${{ matrix.repo }}
          readme-filepath: ${{ matrix.repo }}/README.md
          short-description: |
            An assortment of development containers for ${{ matrix.repo }}
